img {
  max-width: 100px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.flex>li {
  width: 48%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dis-no {
  display: none;
}