@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  background: #edede2;
  font-family: 'NanumSquareNeo-Variable';
  line-height: 1.4;
  word-break: keep-all;
  --main-color: #0079b2;
}

* {
  padding: unset;
  margin: unset;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:-webkit-any-link {
  color: var(--main-color);
}

li {
  list-style: none;
}

input,
button,
textarea {
  font-size: 16px;
  border-radius: 0.4em;
  border: 1px solid #ccc;
}

input,
button {
  height: 2.4em;
}

input {
  text-indent: 0.5em;
}

input:focus-visible {
  outline-color: var(--main-color);
}

button {
  cursor: pointer;
}